# Wedding Couple Information
# Copy this file to .env.local and change the values below

# Nama panggilan (untuk tampilan utama)
NEXT_PUBLIC_BRIDE_NAME=Rara
NEXT_PUBLIC_GROOM_NAME=Adi

# Nama lengkap
NEXT_PUBLIC_BRIDE_FULL_NAME=Siti Salamah Azzahra
NEXT_PUBLIC_GROOM_FULL_NAME=Adi Sumaryadi

# Nama orang tua
NEXT_PUBLIC_BRIDE_PARENTS=Maman & Imas
NEXT_PUBLIC_GROOM_PARENTS=Sumarmo & Kantun

# Google Sheets API URL untuk RSVP
NEXT_PUBLIC_SPREADSHEET_API_URL=https://script.google.com/macros/s/AKfycbxC9TDCUaBS9xybpn-4sfr_UKl92lbGRdh3YHLF9CjA5wnz_0SVNMPKgQ30aGiCqBlxvA/exec
